<!DOCTYPE html>
<html lang="en" class="bg-yellow-100 h-full">

<head>
  <meta charset="UTF-8" />
  <title>DevDashboard</title>
  <!--  <link rel="stylesheet" href="style.css" />-->
  <script src="node_modules/vue/dist/vue.global.js"></script>
  <link rel="stylesheet" href="node_modules/tailwindcss/dist/tailwind.css">
  <script src="cred.js"></script>
</head>
<!--
    /**
     *  Project: DevDashboard
     *  Goal: Provide a dashboard for developing with different widgets integrated, like little tools for string stats, translater, API fetcher, ...
     *  File: index.html: main file with all widgets
     *  Techno: no pure JS, only VueJS
     *  Author: Samuel Roland
     *  Creation date: 01.01.2020
     */
  -->

<body class="max-h-full">
  <div id="bodyApp" class="p-2 font-mono font-bold">
    <div>
      <h1 class="text-5xl inline text-yellow-500">DevDashboard</h1>
      <code class="text-lg italic pl-2 text-gray-500"
        :title="'Released the ' + appVersionDate">{{ appVersion }}</code><br>
      <code class="italic"><a :href="authorProfileLink" class="hover:underline text-blue-600">by {{ authorFullname }}</a>.
        <a href="https://github.com/samuelroland/DevDashboard" class="hover:underline text-blue-600">Source on GitHub.</a>
      </code>

      <h3 class="text-xl">{{ appDescription }}</h3>
      <hr class="bg-blue-800 leading-4 border-blue-800 border-solid my-2">
    </div>
    <div id="divWidgets" class="flex flex-wrap">
      <strings-stats></strings-stats>
      <wikipedia-search></wikipedia-search>
      <deepl-translation></deepl-translation>
      <github-today></github-today>
      <repos-info></repos-info>
      <work-timer></work-timer>
    </div>

    <p class="pt-5 text-lg">Temp component for develop:</h2><br>
    <div class="w-80 border-solid border-2 border-blue-600 m-1 p-2 rounded-lg">
      <widget-header name="Work Timer" version="v0.1"></widget-header>
      <div class="divtop flex w-full">
        <div class="flex-1">
          <comp-button :disabled="startBtnDisabled" name="Start" eventname="start-click" @start-click="startCounter"
            link=""></comp-button><br>
          <div class="py-1">
            <comp-button :disabled="breakBtnDisabled" name="Pause" eventname="break-click" @break-click="breakCounter"
              link=""></comp-button>
          </div>
        </div>
        <div>
          <div class="pt-1 justify-end flex">
            <span class="mr-2">Work Timer</span>
            <input type="text"
              class="rounded px-1 bg-blue-100 border-solid border border-blue-400 focus:bg-blue-200 focus:border-2 focus:border-solid focus:border-blue-500 w-16"
              v-model="currentWorkTime" disabled>
          </div>
          <div class="pt-1 justify-end flex">
            <span class="mr-2">Break Timer</span>
            <input type="text"
              class="rounded px-1 bg-blue-100 border-solid border border-blue-400 focus:bg-blue-200 focus:border-2 focus:border-solid focus:border-blue-500 w-16"
              v-model="currentBreakTime" disabled>
          </div>
        </div>
      </div>
      <div class="divbottom flex w-full pt-3">
        <div class="flex-1">
          <h4 class="text-lg">Total work time: {{ totalTime }}</h4>
          <h4 class="text-lg">Total break time: {{ totalTime }}</h4>
          <input type="text" placeholder="Done part name"
            class="rounded px-1 bg-blue-100 border-solid border border-blue-400 focus:bg-blue-200 focus:border-2 focus:border-solid focus:border-blue-500">
          <comp-button name="New part" eventname="newpart-click" @newpart-click="newPart" link=""></comp-button>
        </div>
        <div class="">
          <div class="break-words word border border-blue-200 max-w-min">
            <h6 class="text-xl">Saved parts</h6>
            <div>
              <ol>
                <li v-for="part in parts">{{ part.number + " - " + part.humanTime}}</li>
              </ol>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script src="script.js"></script>
  <script src="./components/CompButton.js"></script>
  <script src="./components/WidgetHeader.js"></script>
  <script src="./components/DeepLTranslation.js"></script>
  <script src="./components/GithubToday.js"></script>
  <script src="./components/ReposInfo.js"></script>
  <script src="./components/StringsStats.js"></script>
  <script src="./components/WikipediaSearch.js"></script>
  <script src="./components/WorkTimer.js"></script>
  <script>
    const mountedApp = DevD.mount("#bodyApp");
  </script>
</body>

</html>